langchain-google-genai
langchain-core
langchain-groq
langchain-chroma
pydantic
python-dotenv
chromadb
langchain-community
pypdf
streamlit
langchain
sentence-transformers
fastembed

##rmdir /s /q data\chroma_db
